@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heading {
        font-family: "Karla", sans-serif;
        font-size: 32px;
        letter-spacing: -1px;
        font-weight: 700;
    }

    .bodyBold {
        font-family: "Karla", sans-serif;
        font-size: 18px;
        line-height: 150%;
        font-weight: 700;
    }

    .bodyRegular {
        font-family: "Karla", sans-serif;
        font-size: 18px;
        line-height: 150%;
    }

    .body {
        font-family: "Karla", sans-serif;
        font-size: 16px;
        line-height: 150%;
    }
}
